Source: yavdr-frontend
Section: utils
Priority: optional
Maintainer: yaVDR Demo <demo@unknown>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 python3-setuptools,
 python3-all,
 pybuild-plugin-pyproject,
 python3-gi,
 python3-jinja2,
 python3-ruamel.yaml,
 python3-sdbus,
#Testsuite: autopkgtest-pkg-python
Standards-Version: 4.6.2
Homepage: https://github.com/seahawk1986/yavdr-frontend
Vcs-Browser: https://github.com/seahawk1986/yavdr-frontend
Vcs-Git: https://github.com/seahawk1986/yavdr-frontend.git

Package: python3-yavdr-frontend
Architecture: all
Multi-Arch: foreign
Depends:
 ${python3:Depends},
 ${misc:Depends},
Suggests:
 python-yavdr-frontend-doc,
Description: frontend script for yaVDR (Python 3)
 This package contains the script and tools to manage a VDR frontend
 and other applications and can be controlled either via it's DBus Interface
 or a remote control on a lirc-compatible socket.
 .
 This package installs the library for Python 3.

Package: python-yavdr-frontend-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends:
 ${sphinxdoc:Depends},
 ${misc:Depends},
Description: Documentation for python-yavdr-frontend (common documentation)
 This package contains the documentation for the yavdr-frontend script
 .
 This is the common documentation package.
